.btn {
	position: relative;
	height: 60%;
	aspect-ratio: 0.6;
	border: none;
	background-color: transparent;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 10px;
	min-height: 250px;
	margin-bottom: -10%;

}

.fundo, .carta {
	position: absolute;
	/* width: 100%; */
	height: 100%;
	top: 0;
	left: 0;
	transition: opacity 0.3s ease;
	object-fit: cover;
}
.carta {
	opacity: 0;
	z-index: 2;
}

.btn:hover .fundo {
	opacity: 0;
}
.btn:hover .carta {
	opacity: 1;
}


.btnText {
	position: absolute;
	top: -2rem;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.5rem;
	color: #fff;
	font-family: "Cinzel", serif;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
	overflow: hidden; /* Importante para esconder o brilho fora do texto */
	cursor: pointer;
	width: max-content;
	flex-wrap: nowrap;

}

/* Adiciona esse código para o efeito de luz */
.btnText::after {
	content: "";
	position: absolute;
	top: 0;
	left: -75%;
	width: 50%;
	height: 100%;
	background: linear-gradient(
		120deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.6) 50%,
		rgba(255, 255, 255, 0) 100%
	);
	transform: skewX(-20deg);
	animation: shine 2s infinite;
	cursor: pointer;
}
