.Baseloading{
 position: absolute;
 top: 0;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.Login{
 position: absolute;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 350px;
 height: 350px;
 border-radius: 50%;
 background-color: #d3e2ee9f;
}
.barraLoading{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 250px;
 height: 250px;
 border-radius: 50%;
 /* background-color: #FBD51C; */
}
.carregar{
 width: 60px;
}
.image{
 position: absolute;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 235px;
 height: 235px;
 border-radius: 50%;
 background-color: #fff;
 overflow: hidden;

}
.image img{
 position: relative;
 width: 68%;
}

@media screen and (max-width: 450px) {
 .Baseloading{
     transform: scale(.7);
 }
}

@media screen and (max-width: 300px) {
 .Baseloading{
     transform: scale(.6);
 }
}